* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

/* fondo */
.body-index {
  /*  display: grid;
    grid-template-rows: auto 1fr auto;*/
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(./img/fondo.svg);
  background-repeat: no-repeat;

  height: 4100px;
  position: relative;
  width: 100%;

  /*   position: relative; */
  /*  width: 100%; */
}

.container-fluid-s {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  /*  display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr; */
  border-style: solid;
  border-color: black;
}

.nube-1 {
  width: 338px;
  height: 329px;
  left: 22%;
  top: 5%;
  background-image: url(../img/productos/nube-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-2 {
  height: 298px;
  width: 354px;
  position: absolute;
  top: 22%;
  left: 5%;
  background-image: url(../img/productos/nube-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.nube-3 {
  height: 340px;
  width: 380px;
  position: absolute;
  right: 3%;
  top: 5%;
  background-image: url(../img/productos/nube-3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-4 {
  width: 366px;
  height: 441.687px;
  position: absolute;
  right: 35%;
  top: 20%;
  background-image: url(../img/productos/nube-4.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-5 {
  width: 326.991px;
  height: 382.05px;
  position: absolute;
  right: 15%;
  top: 33%;
  background-image: url(../img/productos/nube-5.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-6 {
  width: 370.998px;
  height: 582.666px;
  position: absolute;
  right: 35%;
  top: 43%;
  background-image: url(../img/productos/nube-6.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-7 {
  width: 448px;
  height: 282px;
  position: absolute;
  right: 15%;
  top: 63%;
  background-image: url(../img/productos/nube-7.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-8 {
  width: 423.735px;
  height: 420.303px;
  position: absolute;
  right: 25%;
  top: 77%;
  background-image: url(../img/productos/nube-8.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* navvar */

.nav-style {
  /*  display: flex !important;
    justify-content: space-between !important; */
  position: fixed;
  min-width: 100%;
  padding-left: 9.66%;
  padding-right: 9.66%;
  z-index: 3;

  /*     
    
    height: 60px;
    align-items: center;
    
   
    top: 0;
    left: 0;
    */
  border-image-source: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.267) 107.87%);

  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /*mix-blend-mode: overlay;*/
  background-image: url(../img/noise-navbar.svg);
}

/* MODAL DETALLES */
.no-va {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.modal-container {
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  width: 982px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.96) 0%,
      rgba(255, 255, 255, 0.96) 100%),
    linear-gradient(144deg, #fbf3ff 0%, rgba(195, 88, 245, 0) 100%);

  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
}

.info-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.info-modal p {
  padding: 8px;
  margin-top: 8px;
}

.info-modal .precio {
  color: #595859;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.9%;
  /* 24.456px */
}

.info-modal h1 {
  margin-top: 32px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.9%;
  /* 16.304px */
  letter-spacing: 4.88px;
}

.info-modal .detalles {
  color: rgba(57, 45, 45, 0.94);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 19.2px */
  letter-spacing: 1.04px;
}

.container-envio {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 8px;
}

.envio {
  display: flex;
  /*  justify-content: center; */
  align-items: center;
  width: 376px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #6837e3;
}

.envio img {
  /*  width: 12px;
  height: 24px;
  transform: rotate(-90deg);
  flex-shrink: 0; */
  margin-left: 40px;
}

.boton-drop-envio {
  /*  display: flex;
  align-self: center; */
  margin-left: 34%;
  color: #6837e3;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.938px;
  /* 99.611% */
  letter-spacing: 4.545px;
}

.puntitos-m {
  display: flex;
  justify-content: center;
}

.punto {
  padding: 5px;
}

.agregar-m {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.agregar-m button {
  width: 376px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #6837e3;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.938px;
  /* 99.611% */
  letter-spacing: 4.545px;
}

.cerrar-modal {
  margin-right: 16px;
  margin-top: 16px;
}

.fotos-m {
  margin-left: 8px;
  margin-top: 8px;
}

/* media query */

@media (min-width: 992px) {
  .hamburguesa-display {
    display: none !important;
    background-color: red;
  }
}

@media (max-width: 992px) {
  .normal-display {
    display: none !important;
    background-color: red;
  }
}