* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --desktop-prod-width: 270px;
  --desktop-prod-height: 300px;
  --fondoForm: rgba(255, 255, 255, 0.4);
  --violeta: rgba(96, 40, 255, 0.80);
  --rosa: #CB37E3;
}

/* fondo */
.body-index {
  /*  display: grid;
    grid-template-rows: auto 1fr auto;*/


  background-position: center top;
  background-size: cover;
  background-image: url(./img/fondo.svg);
  background-repeat: no-repeat;

  height: fit-content;
  position: relative;
  /*  width: 100%; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;

  /*   position: relative; */
  /*  width: 100%; */
}

main {
  flex: 1;
}


.separador {
  height: 110px;
}

.shop-y-menu {
  margin-top: 6em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  position: fixed;
}

.grid-container {
  /*  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15%;
}


.nube-style {
  width: var(--desktop-prod-width);
  height: var(--desktop-prod-height);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-1 {
  margin-top: -2%;
  background-image: url('./img/productos/producto1.svg');
}

.nube-2 {
  margin-top: -10%;
  background-image: url('./img/productos/producto2.svg');

}

.nube-3 {
  margin-top: -2%;
  background-image: url('./img/productos/producto3.svg');
}

.nube-4 {
  margin-top: 12%;
  background-image: url('./img/productos/producto4.svg');
}

.nube-5 {
  background-image: url('./img/productos/producto5.svg');
}

.nube-6 {
  margin-top: 12%;
  background-image: url('./img/productos/producto6.svg');

}

.nube-7 {
  margin-top: 10%;
  background-image: url('./img/productos/producto7.svg');

}

.nube-8 {

  background-image: url('./img/productos/producto8.svg');
}


.nube-9 {
  margin-top: 10%;
  background-image: url('./img/productos/producto9.svg');
}


.nube-10 {
  margin-top: 8%;
  background-image: url('./img/productos/producto10.svg');
}


.nube-11 {

  background-image: url('./img/productos/producto11.svg');
}


.nube-12 {
  margin-top: 12%;
  background-image: url('./img/productos/producto12.svg');
}



.nube-13 {
  margin-top: 8%;
  background-image: url('./img/productos/producto13.svg');
}


.nube-14 {

  background-image: url('./img/productos/producto14.svg');
}


.nube-15 {
  margin-top: 12%;
  background-image: url('./img/productos/producto15.svg');
}


.nube-16 {
  margin-top: 8%;
  background-image: url('./img/productos/producto16.svg');
}


.nube-17 {

  background-image: url('./img/productos/producto17.svg');
}


.nube-18 {
  margin-top: 12%;
  background-image: url('./img/productos/producto18.svg');
}

.menu:hover {
  cursor: pointer;
}

/* navvar */

.secciones-navbar-normal {
  display: flex;
}

.nav-style {
  /*  display: flex !important;
    justify-content: space-between !important; */
  position: fixed;
  min-width: 100%;
  padding-left: 9.66%;
  padding-right: 9.66%;
  z-index: 3;

  /*     
    
    height: 60px;
    align-items: center;
    
   
    top: 0;
    left: 0;
    */
  border-image-source: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.267) 107.87%);

  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  mix-blend-mode: overlay;
  /*   background-image: url(../img/noise-navbar.svg); */
}

.menu-var {
  display: flex;
  justify-content: space-between;

}

.nav-link-n {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.11875rem;

}

.nav-link:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav-link:link {
  color: inherit;
  text-decoration: none;
}

.nav-link:visited {
  color: inherit;
  text-decoration: none;
}

.navbar-toggler-icon {
  background-image: url('./img/productos/producto10.svg');
}

.bolita-compra {
  background-color: #dd8b2dee;
  visibility: hidden;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  text-align: center;
}

.bolita-compra-mobile {
  background-color: #dd8b2dee;
  visibility: hidden;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  text-align: center;
}

.dropdown-menu {
  z-index: 4;
}

.boton-carrito:hover {
  cursor: pointer;
}

/* MODAL DETALLES */


.modal-container {
  width: 100%;
  visibility: hidden;
  display: flex;
  position: fixed;
  z-index: 3;
  justify-content: space-between;
  flex-shrink: 0;
}

.contenedor-flex-modal {
  display: flex;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 8px;
  min-width: min-content;
  max-width: 50%;
  background: linear-gradient(150deg, rgba(255, 255, 255, 0.60) 65.11%, rgba(203, 55, 227, 0.60) 100%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
}

.info-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 32px;
}

.info-modal p {
  /* padding: 8px; */
  margin-top: 8px;
}

.info-modal .precio {
  color: #595859;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.9%;
  /* 24.456px */
  padding: 1rem;

  margin-top: 59px;
}

.info-modal h1 {

  margin-top: -43px;
  color: #6837E3;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.9%;
  /* 16.304px */
  letter-spacing: 4.88px;
}

.info-modal .detalles {
  color: rgba(57, 45, 45, 0.94);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 19.2px */
  letter-spacing: 1.04px;
  width: 330px;
  height: auto;
  flex-shrink: 0;
}

.container-envio {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  /*  padding: 8px; */
}

.envio {
  display: flex;
  /*  justify-content: center; */
  align-items: center;

  margin: 0.5rem !important;
  width: 192px;
  height: 40.957px;
  flex-shrink: 0;
  filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.70));
  color: #FF285C;
  border-radius: 20.479px;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.055px;
  /* 108.795% */
  letter-spacing: 3.723px;
}

.selector-mobil {
  display: flex;
  justify-content: center;
}

.menu-mobile {
  margin-top: 115px;
  position: relative;
  display: flex;
  align-items: center;
  width: 192px;
  height: 40.957px;
  flex-shrink: 0;
  filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.70));
  color: #FF285C;
  border-radius: 20.479px;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.055px;
  letter-spacing: 3.723px;
}

.form-select {
  background-image: url(img/modal/flecha.svg);
}

.envio img {
  /*  width: 12px;
  height: 24px;
  transform: rotate(-90deg);
  flex-shrink: 0; */
  margin-left: 40px;
}



.boton-drop-envio {
  /*  display: flex;
  align-self: center; */
  margin-left: 34%;
  color: #6837e3;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.938px;
  /* 99.611% */
  letter-spacing: 4.545px;
}

/* .puntitos-m {
  display: flex;
  justify-content: center;
}

.punto {
  padding: 5px;
} */

.agregar-m {
  display: flex;
  flex-direction: column;
  padding: 8px;
  display: flex;
  justify-content: center;

}

.agregar-m button {
  width: 400px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 20.479px;
  background: #6837E3;
  /* sombra blanca */
  box-shadow: 1px 1px 8px 5px rgba(255, 255, 255, 0.70);

  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.055px;
  /* 99.611% */
  letter-spacing: 3.723px;
}

.agregar-m a {
  color: #6837E3;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 16.8px */
  letter-spacing: 0.91px;
  margin-bottom: -60px;
  margin-top: 1rem;
}

.cerrar-modal {
  margin-right: 8px;
  margin-top: 8px;
  margin-left: -47px;
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px;
  height: 120px;
  color: #FF285C;
} */

.carousel-control-next-icon {
  background-image: url(img/modal/flecha-derecha.svg);
}

.carousel-control-prev-icon {

  background-image: url(img/modal/flecha-izqueirda.svg);
}

.fotos-m {
  /* margin-left: 8px;
  margin-top: 8px; */

}

.fotos-m img {
  /* height: 400px;
  width: 400px; */
}

.boton-producto {
  background: none;
  width: var(--desktop-prod-width);
  height: var(--desktop-prod-height);
  border: none;

}

.boton-producto:hover {
  cursor: pointer;
}


.boton-producto span {
  visibility: hidden;
}

.titulos-shop {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  margin-right: 1em;
  mix-blend-mode: overlay;
}

.titulo-s {
  text-align: right;
}

.menu-productos {
  z-index: 3;
  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 1;
  line-height: 1.7rem;
  /* 101.9%;*/
  mix-blend-mode: overlay;
  letter-spacing: 0.205rem;
}

.menu-productos li {
  list-style: none;

}




/* 
NOSOTROS */

.titulos-nosotros {
  margin-right: 1em;
  text-align: right;
}

.nos-main {
  width: auto;
}

.nos-container {
  display: flex;
  margin-top: 1vh;
  justify-content: center;
  /* flex-wrap: wrap;

align-items: center;
*/

  /* margin-left: 20%; */
  /*   */
}

.nos-card {


  z-index: 0;
  padding: 2vw;


  height: fit-content;
  width: 80%;
  min-width: min-content;
  /* min-width: 405px; */
  border-radius: 8px;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  /* position: fixed; */
}

.nos-text {
  padding: 2em;
  font-family: 'Almarai', sans-serif;
}


.titulo {
  mix-blend-mode: overlay;
  /* color: #000; */
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3.04px;


}

.carousel-control-next-icon,
.carousel-control-prev-icon {

  width: 40px;
  height: 120px;
  color: #FF285C;

}

.parrafo {
  color: #FFF;
  text-align: right;
  font-family: Roboto;
  font-size: 14px;
  font-style: thin;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.92px;
  width: 22.125rem;
  height: 3.6875rem;
  flex-shrink: 0;
}

.parrafo-n {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  justify-content: right;
}

.parrafo-c {
  text-align: right;
  width: 100%;
}





/* nubes del fondo */
/* .nuve {
  height: 10.000rem;
  width: auto;
} */


.fondo-1 {
  position: absolute;
  margin-top: 69px;
  margin-left: 366px;
  z-index: -4;
  background-image: url('./img/fondo/Group8.svg');
  width: 340px;
  height: 230px;
  background-size: contain;

}

.fondo-2 {
  position: absolute;
  margin-top: 506px;
  margin-left: 81px;
  z-index: -4;
  background-image: url('./img/fondo/Group7.svg');
  width: 294.98 px;

  height: 167.33 px;
  background-size: contain;
}

.fondo-3 {
  position: absolute;
  margin-top: 238px;
  margin-left: 866px;
  z-index: -4;
  background-image: url('./img/fondo/Group16.svg');
  width: 270.06208px;
  height: 149.68px;
  background-size: contain;
}

.fondo-4 {
  position: absolute;
  margin-top: 807px;
  margin-left: 383px;
  z-index: -4;
  background-image: url('./img/fondo/Group9.svg');
  width: 308.81296px;
  height: 192.924px;
  background-size: contain;
}

.fondo-5 {
  position: absolute;
  margin-top: 1122px;
  margin-left: 740px;
  z-index: -4;
  background-image: url('./img/fondo/Group15.svg');
  width: 263.64608px;
  height: 205.468px;
  background-size: contain;

}

/* .fondo-6 {
  position: absolute;
  margin-top: 1402px;
  margin-left: 300px;
  z-index: -4;
  background-image: url('./img/fondo/Group18.svg');
  width: 339.99696px;
  height: 203.96168px;
  background-size: contain;

} */

.nuve {
  background-repeat: no-repeat;
  width: 270.06208px !important;
  height: 149.68px !important;
}

.fondo-7 {
  position: absolute;
  margin-top: 300vh;
  margin-left: 280px;
  z-index: -4;
  background-image: url('./img/fondo/Group10.svg');
  width: 339.99696px;
  height: 203.96168px;
}



/* contacto */
.titulos-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  width: 100%;
  padding-right: 1em;
}

.box-title-contact img {
  width: 80px;
}

.box-p-contact p {
  width: 100%;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: var(--azul);
  margin: 30px 0 0 0;
}

.box-form {
  border-radius: 12px;
  padding: 3rem;
  justify-content: space-between;
  width: 50%;
  height: fit-content !important;
  min-width: min-content;
  background: linear-gradient(163.82deg, rgba(251, 243, 255, 0.3) 1.33%, rgba(195, 88, 245, 0) 95.23%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  justify-content: center;
}

.box-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-level-one {
  width: 100%;
  justify-content: space-between !important;
}

.box-son-level-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.box-son-level-one label {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.box-son-level-one input {
  width: 310px;
  height: 49px;
  padding: 10px;
  background-color: var(--fondoForm);
  border: 2px solid var(--violeta);
  border-radius: 12px;
}

.box-son-level-one select {
  width: 235px;
  height: 49px;
  background-color: var(--fondoForm);
  border: 2px solid var(--violeta);
  border-radius: 12px;
}

.box-son-level-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0 0 0;
}

.box-son-level-two label {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22px;
}

.box-son-level-two textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--fondoForm);
  border: 2px solid var(--violeta);
  border-radius: 12px;
}

.box-son-level-two input {
  width: 147px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violeta);
  color: #fff;
  border: 1px solid;
  border-color: #6837e3;
  text-decoration: none;
  border-radius: 50px;
  transition: .5s;
  margin: 40px 0 0 0;
}

.box-son-level-two input:hover {
  background-color: var(--rosa);
  border-color: var(--rosa);
}

.main-contacto {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  justify-content: center;
}

.d-flex {
  display: flex !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fotos-producto {
  width: 305px;
  height: 355px;
}

/* footer */


.footer-container {
  display: flex;
  justify-content: space-around;
  position: fixed;
  min-width: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  mix-blend-mode: overlay;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.267) 107.87%);
  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  opacity: 0.8;

  flex-wrap: wrap;
  /*  position: absolute;
  height: 120px;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 300px; */
}

footer p {
  align-self: center;
  font-size: 12px;
  position: absolute;
  left: 90%;
  letter-spacing: 0.135em;
  color: rgba(101, 100, 100, 0.925);
}

.creditos:hover {
  cursor: pointer;
}

.links-footer-desktop {
  display: flex;
  align-items: center;
  min-width: 70%;

  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;

  justify-content: space-around;
}


.links-footer-desktop a {
  color: #000 !important;
  letter-spacing: 3.6px;
}

.links-footer-desktop a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.links-footer-desktop a:link {
  color: inherit;
  text-decoration: none;
}

.links-footer-desktop a:visited {
  color: inherit;
  text-decoration: none;
}

.links-footer-mobile {
  display: none !important;
  align-items: center;
  min-width: 70%;
  display: flex;
  justify-content: space-around;
}



/* media query */

@media (min-width: 992px) {
  .hamburguesa-display {
    display: none !important;
    background-color: red;
  }
}

@media (max-width: 992px) {
  .normal-display {
    display: none !important;
  }

  .links-footer-mobile {
    display: flex !important;
  }

  .links-footer-desktop {
    display: none;
  }
}

/* MOBILE */

@media only screen and (max-width:500px) {

  .nube-style {
    width: 150px;
    height: 180px;
  }

  .titulos-shop {
    display: none;
  }



  .grid-container {
    display: flex;
    justify-content: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 43px;
  }

  .shop-y-menu {
    display: none;
  }

  .modal-container {
    flex-direction: column;
    justify-content: center;
    width: 478px;
    height: 686px;
  }

  .fotos-m {
    display: flex;
    justify-content: center;
  }

  .menu-productos {
    display: none;

  }

  .titulo {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;

  }

  .titulo-s {
    display: none;
  }

  .titulos-shop {
    display: none;
  }

  .parrafo-s {
    display: none;
  }


  .parrafo {
    width: 317px;
    height: 59px;
    flex-shrink: 0;

    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    margin-left: 17vw;
  }

  .titulos-nosotros {
    margin-right: 120px;
  }

  .titulo-c {
    margin-left: 120px !important;
    margin-top: 8px;
  }

  .titulos-contacto {

    margin-right: 120px;
  }

  .form-contenedor {
    margin-top: -40px !important;
  }

  .fondo-3 {
    margin-left: 137px;
    display: none;
  }

  .fondo-4 {
    margin-left: 140px;
  }

  .fondo-5 {
    margin-left: 130px;
    display: none;
  }

  .fondo-2 {
    margin-left: 137px;
  }

  .fondo-1 {
    margin-left: 147px;
  }

  .fondo-6 {
    margin-left: 137px;
    display: none;
  }

  .fondo-7 {
    margin-left: 187px;
    display: none;
  }

  .nuve {
    background-repeat: no-repeat;
    width: 220.06208px !important;
    height: 100.68px !important;
  }

  .box-son-level-one input {
    width: 269px;
  }

  .boton-producto {
    width: 150px;
  }

  .titulos-contacto {

    text-align: center;
  }

  .links-footer-desktop {
    display: none;

  }

  .nos-card {
    width: 70%;
  }



}

@media only screen and (min-width:961px) {
  .selector-mobil {
    display: none;
  }
}

@media only screen and (max-width:961px) {
  .menu-productos {
    display: none;
  }

  .titulos-shop {
    text-align: right;
    align-items: flex-end;
    width: 100%;
  }
}