* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --desktop-prod-width: 300px;
  --desktop-prod-height: 330px;
}

/* fondo */
.body-index {
  /*  display: grid;
    grid-template-rows: auto 1fr auto;*/
  min-height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url(./img/fondo.svg);
  background-repeat: no-repeat;

  height: 4100px;
  position: relative;
  width: 100%;

  /*   position: relative; */
  /*  width: 100%; */
}

.container-fluid-s {
  display: flex;
  justify-content: space-between;
}


.grid-container {
  /*  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr; */
  border-style: solid;
  border-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}


.nube-style {
  width: var(--desktop-prod-width);
  height: var(--desktop-prod-height);
  background-size: contain;
  background-repeat: no-repeat;
}

.nube-1 {
  margin-top: 10%;
  background-image: url(../img/productos/producto1.svg);
}

.nube-2 {

  background-image: url(../img/productos/producto2.svg);

}

.nube-3 {
  margin-top: 10%;

  background-image: url(../img/productos/producto3.svg);

}

.nube-4 {

  margin-top: 12%;

  background-image: url(../img/productos/producto4.svg);

}

.nube-5 {

  background-image: url(../img/productos/producto5.svg);

}

.nube-6 {
  margin-top: 12%;
  background-image: url(../img/productos/producto6.svg);

}

.nube-7 {
  margin-top: 10%;
  background-image: url(../img/productos/producto7.svg);

}

.nube-8 {

  background-image: url(../img/productos/producto8.svg);
}


.nube-9 {
  margin-top: 10%;
  background-image: url(../img/productos/producto9.svg);
}


.nube-10 {
  margin-top: 8%;
  background-image: url(../img/productos/producto10.svg);
}


.nube-11 {

  background-image: url(../img/productos/producto11.svg);
}


.nube-12 {
  margin-top: 12%;
  background-image: url(../img/productos/producto12.svg);
}



.nube-13 {
  margin-top: 8%;
  background-image: url(../img/productos/producto13.svg);
}


.nube-14 {

  background-image: url(../img/productos/producto14.svg);
}


.nube-15 {
  margin-top: 12%;
  background-image: url(../img/productos/producto15.svg);
}


.nube-16 {
  margin-top: 8%;
  background-image: url(../img/productos/producto16.svg);
}


.nube-17 {

  background-image: url(../img/productos/producto17.svg);
}


.nube-18 {
  margin-top: 12%;
  background-image: url(../img/productos/producto18.svg);
}

/* navvar */

.nav-style {
  /*  display: flex !important;
    justify-content: space-between !important; */
  position: fixed;
  min-width: 100%;
  padding-left: 9.66%;
  padding-right: 9.66%;
  z-index: 3;

  /*     
    
    height: 60px;
    align-items: center;
    
   
    top: 0;
    left: 0;
    */
  border-image-source: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.231) 100%);
  background: linear-gradient(90.34deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.267) 107.87%);

  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
  /*mix-blend-mode: overlay;*/
  background-image: url(../img/noise-navbar.svg);
}

.bolita-compra {
  background-color: #dd8b2dee;
  visibility: hidden;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  text-align: center;
}

/* MODAL DETALLES */


.modal-container {
  visibility: hidden;
  display: flex;
  position: fixed;
  z-index: 3;
  justify-content: space-between;
  width: 982px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.96) 0%,
      rgba(255, 255, 255, 0.96) 100%),
    linear-gradient(144deg, #fbf3ff 0%, rgba(195, 88, 245, 0) 100%);

  /* glass */
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(20px);
}

.info-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.info-modal p {
  padding: 8px;
  margin-top: 8px;
}

.info-modal .precio {
  color: #595859;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.9%;
  /* 24.456px */
}

.info-modal h1 {
  margin-top: 32px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.9%;
  /* 16.304px */
  letter-spacing: 4.88px;
}

.info-modal .detalles {
  color: rgba(57, 45, 45, 0.94);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  /* 19.2px */
  letter-spacing: 1.04px;
}

.container-envio {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 8px;
}

.envio {
  display: flex;
  /*  justify-content: center; */
  align-items: center;
  width: 376px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #6837e3;
}

.envio img {
  /*  width: 12px;
  height: 24px;
  transform: rotate(-90deg);
  flex-shrink: 0; */
  margin-left: 40px;
}

.boton-drop-envio {
  /*  display: flex;
  align-self: center; */
  margin-left: 34%;
  color: #6837e3;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.938px;
  /* 99.611% */
  letter-spacing: 4.545px;
}

.puntitos-m {
  display: flex;
  justify-content: center;
}

.punto {
  padding: 5px;
}

.agregar-m {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.agregar-m button {
  width: 376px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #6837e3;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.938px;
  /* 99.611% */
  letter-spacing: 4.545px;
}

.cerrar-modal {
  margin-right: 16px;
  margin-top: 16px;
}

.fotos-m {
  margin-left: 8px;
  margin-top: 8px;
}

.boton-producto {
  background: none;
  border: none;
  width: var(--desktop-prod-width);
  height: var(--desktop-prod-height);


}

.boton-producto:hover {
  cursor: pointer;
}


.boton-producto span {
  visibility: hidden;
}


.menu-productos {
  z-index: 3;
  position: fixed;
  margin-left: -66px;
}


/* media query */

@media (min-width: 992px) {
  .hamburguesa-display {
    display: none !important;
    background-color: red;
  }
}

@media (max-width: 992px) {
  .normal-display {
    display: none !important;
    background-color: red;
  }
}

/* MOBILE */

@media only screen and (max-width:500px) {

  .nube-style {
    width: 150px;
    height: 180px;
  }

  .grid-container {
    justify-content: space-between;
  }
}